<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,
                 initial-scale=1,
                 shrink-to-fit=no">
    <title>
        load data from json file
        into a bootstrap table
    </title>

    <!-- Include Bootstrap for styling -->
    <link rel="stylesheet"
          href=
                  "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Include the Bootstrap Table CSS
    for the table -->
    <link rel="stylesheet"
          href=
                  "https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
</head>
<body>
<script>
    fetch('/data')
        .then(response => response.json())
        .then(data => {
            // Access the JSON data and update the HTML as desired
            document.getElementById('myData').textContent = JSON.stringify(data);
        })
        .catch(error => {
            console.error('Error loading JSON data:', error);
        });
</script>

<h1>Clco</h1>
<p>JSON Data: <span id="myData"></span></p>
</body>
</html>