<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quotes</title>
    <meta charset="UTF-8">
    <!-- Add any necessary CSS or external dependencies here -->
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
<h1>Random Quote</h1>
<p id="quoteQuote" th:text="${quotes.quote}"></p>
<p>- <span id="quoteAuthor" th:text="${quotes.author}"></span></p>

<button id="newQuoteButton">Get New Quote</button>

<script th:inline="javascript">
    document.getElementById("newQuoteButton").addEventListener("click", function() {
        getNewQuote();
    });

    function getNewQuote() {
        fetch('/newquotes')
            .then(response => response.json())
            .then(data => {
                document.getElementById("quoteQuote").textContent = data.quote;
                document.getElementById("quoteAuthor").textContent = data.author;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>

</body>
</html>
